/* Utilización de centímetros (cm) */
.caja-cm {
    width: 1.5cm;
    height: 1.5cm;
    background-color: lightsalmon;
}
.text-cm {
    font-size: 0.7cm; 
    line-height: 0.5cm; /* Altura de línea en centímetros */
    text-indent: 0.5cm; 
}
.boton-cm {
    background-color: lightsteelblue;
}
/* Utilización de milímetros (mm) */
.caja-mm {
    width: 15mm;
    height: 15mm;
    background-color: lightseagreen;
}
.text-mm {
    font-size: 7mm;
    line-height: 5mm;
    text-indent: 5mm;
}
.boton-mm {
    width: 30mm;
    height: 10mm;
    background-color: lightcoral;
}

/* Utilización de cuartos de milímetros (Q) */
.caja-q {
    width: 60Q; /* 15mm */
    height: 60Q;
    background-color: lightblue;
}
.text-q {
    font-size: 28Q; /* 7mm */
    line-height: 20Q; /* 5mm */
    text-indent: 20Q;
}
.boton-q {
    width: 120Q; /* 30mm */
    height: 40Q; /* 10mm */
    background-color: lightpink;
}

/* Utilización de pulgadas (in) */
.caja-in {
    width: 0.6in;
    height: 0.6in;
    background-color: lightgoldenrodyellow;
}
.text-in {
    font-size: 0.28in;
    line-height: 0.2in;
    text-indent: 0.2in;
}
.boton-in {
    width: 1.2in;
    height: 0.4in;
    background-color: lightgray;
}

/* Utilización de picas (pc) */
.caja-pc {
    width: 3pc; /* 36pt */
    height: 3pc;
    background-color: lightskyblue;
}
.text-pc {
    font-size: 1.4pc; /* 16.8pt */
    line-height: 1pc; /* 12pt */
    text-indent: 1pc;
}
.boton-pc {
    width: 6pc; /* 72pt */
    height: 2pc;
    background-color: lightgreen;
}

/* Utilización de puntos (pt) */
.caja-pt {
    width: 36pt;
    height: 36pt;
    background-color: lightgoldenrodyellow;
}
.text-pt {
    font-size: 16pt;
    line-height: 12pt;
    text-indent: 12pt;
}
.boton-pt {
    width: 72pt;
    height: 24pt;
    background-color: lightpink;
}

/* Unidad de medida píxeles (px) */
.caja-px {
    width: 60px;
    height: 60px;
    background-color: lightcoral;
}
.text-px {
    font-size: 28px;
    line-height: 20px;
    text-indent: 20px;
}
.boton-px {
    width: 120px;
    height: 40px;
    background-color: lightblue;
}