/*************************************************************************************************
ARCHIVO : pseudoelementos.css
AUTOR : Ricardo Gabriel Manrique Silva
FECHA : 24/08/2024
DESCRIPCIÓN : Utilización de selectores de pseudoelementos - CSS
*************************************************************************************************/
/* Estilo a la primera letra de un párrafo */
/* ::first-letter aplica estilo a la primera letra del párrafo */
p::first-letter {
    color: blue; /* Cambia el color de la primera letra a azul */
    font-size: 2em; /* Aumenta el tamaño de la primera letra */
}

/* Estilo a la primera línea de un párrafo */
/* ::first-line aplica aestilo solo a la primera línea del párrafo */
p::first-line {
    color: gray; /* Cambia el color de la primera líne a gris */
}

/* Estilo para el contenido seleccionado */
/* ::selection aplica estilo al texto que el usuario selecciona */
::selection {
    background-color: yellow; /* Cambia el fondo del texto a amarillo */
    color: black; /* Cambia el color del texto seleccionado a negro */
}

/* Inserta contenido antes de un elemento */
/* ::before inserta contenido antes del contenido del elemento */
h1::before {
    content: "Capítulo: "; /* Inserta el texto "Capítulo: " antes del encabezado (h1) */
    font-weight: bold; /* Aplica negrita al contenido insertado */
}

/* Inserta contenido después de un elemento */
/* ::after inserta contenido después del contenido del elemento */
h1::after {
    content: " ***"; /* Inserta " ***" después del encabezado (h1) */
    color: red; /* Cambia el color del contenido insertado a rojo */
}

/* Estilo para el texto placeholder de un input */
/* ::placeholder aplica estilo al texto placeholder de un campo de entrada */
input::placeholder {
    color: lightgray; /* Cambia el color del placeholder a gris claro */
    font-style: italic; /* Aplica cursiva al placeholder */
}

/* Estilo para el marcador de una lista */
/* ::marker aplica estilo a los marcadores de las listas */
li::marker {
    color: darkorange; /* Cambia el color del marcador a anaranjado oscuro */
}